<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <th:block th:include="/navbar"></th:block>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div class="container mt-5">
      <div th:align="center">
          <h3>Employees</h3><br>
          <div>
            <a href="/add_employee" class="btn btn-dark">Add a new employee</a><br><br>
          </div>
      </div>
      <table class="table table-primary table-striped table-hover">
          <thead class="table table-dark">
              <tr th:align="center">
                  <th>#</th>
                  <th colspan="2">
                      <a style="color: white" href="/employees">
                        Full Name
                      </a>
                  </th>
                  <th colspan="2">
                      <a style="color: white" href="/employees">
                        Age
                      </a>
                  </th>
                  <th colspan="2">
                      <a style="color: white" href="/employees">
                          Position
                      </a>
                  </th>
                  <th colspan="2">
                      <a style="color: white" href="/employees">
                          Department
                      </a>
                  </th>
                  <th colspan="2">
                      <a style="color: white" href="/employees">
                          Manager
                      </a>
                  </th>
                  <th colspan="2">
                      <a style="color: white" href="/employees">
                          HireDate
                      </a>
                  </th>
                  <th>Email</th>
              </tr>
          <tr th:align="center">
              <th></th>
              <th>
                  <a style="color: white" href="/sortBySurnameAndName">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                          <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                      </svg>
                  </a>
              </th>
              <th>
                  <a style="color: white" href="/sortBySurnameAndNameDesc">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                          <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                      </svg>
                  </a>
              </th>
              <th>
                  <a style="color: white" href="/sortByAge">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                          <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                      </svg>
                  </a>
              </th>
              <th>
                  <a style="color: white" href="/sortByAgeDesc">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                          <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                      </svg>
                  </a>
              </th>
              <th>
                  <a style="color: white" href="/sortByPosition">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                          <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                      </svg>
                  </a>
              </th>
              <th>
                  <a style="color: white" href="/sortByPositionDesc">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                          <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                      </svg>
                  </a>
              </th>
              <th>
                  <a style="color: white" href="/sortByDepartment">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                          <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                      </svg>
                  </a>
              </th>
              <th>
                  <a style="color: white" href="/sortByDepartmentDesc">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                          <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                      </svg>
                  </a>
              </th>
              <th>
                  <a style="color: white" href="/sortByManager">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                          <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                      </svg>
                  </a>
              </th>
              <th>
                  <a style="color: white" href="/sortByManagerDesc">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                          <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                      </svg>
                  </a>
              </th>
              <th>
                  <a style="color: white" href="/sortByHireDate">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                          <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                      </svg>
                  </a>
              </th>
              <th>
                  <a style="color: white" href="/sortByHireDateDesc">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                          <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                      </svg>
                  </a>
              </th>
              <th></th>
          </tr>
          </thead>
          <tbody>
              <tr th:each="employee:${employees}" th:align="center">
                  <td th:text="${employee.id}"></td>
                  <td colspan="2">
                      <a th:href="@{/employee(id=${employee.id})}">
                          <span th:text="|${employee.surname} ${employee.name}|"></span>
                      </a>
                  </td>
                  <td colspan="2" th:text="${employee.age}" th:align="center"></td>
                  <td colspan="2" th:text="${employee.getPosition.positionName}"></td>
                  <td colspan="2">
                      <a th:href="@{/department_by_employee(id=${employee.id})}">
                          <span th:text="${employee.getDepartment.departmentName}"></span>
                      </a>
                  </td>
                  <td colspan="2">
                      <span th:if="${employee.manager == null}">-</span>
                      <span th:unless="${employee.manager == null}">
                          <a th:href="@{/employee(id=${employee.id})}">
                              <span th:text="|${employee.manager.surname} ${employee.manager.name}|"></span>
                          </a>
                      </span>
                  </td >
                  <td colspan="2" th:text="${employee.hireDate}"></td>
                  <td th:text="${employee.email}"></td>
              </tr>
          </tbody>
      </table>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>